:root {
    --primary-1st-color: #0A4D3C;
    --primary-2nd-color: #FCB537;
    --primary-3rd-color: #8D280C;
    --primary-4th-color: #B24629;
    --primary-5th-color: #F1EDE7;

    --neutral-1st-color: #070707;
    --neutral-2nd-color: #5A5A5A;
    --neutral-3rd-color: #CACACA;
    --neutral-4th-color: #F4F4F4;
    --neutral-5th-color: #FFFFFF;

    --semantic-error: #CB3A31;
    --semantic-warning: #EF8943;
    --semantic-success: #43936C;
    --semantic-info: #27A0E3;

    --b-rad-root: 12px;
    --b-shadow-root: 0px 1px 6px #D7D7D8;
}

.link-no-decoration {
    color: inherit;
}

.link-no-decoration:hover {
    color: inherit;
    text-decoration: none;
}

.adm-products-main-wrap {
    display: flex;
    flex-direction: column;
    overflow-y: auto;
    padding: 24px;
}

.adm-products-header-wrap {
    display: flex;
    justify-content: space-between;
}

.adm-products-header-wrap > h4 {
    margin: 0;
}

.adm-products-contents-wrap {
    margin-top: 24px;
}

.adm-products-add-wrap {
    display: flex;
    margin: 24px 16px;
}

.adm-products-add-wrap:hover {
    text-decoration: none;
}

.adm-products-add-wrap button {
    background-color: var(--primary-4th-color);
    border: none;
    border-radius: 100px;
    color: var(--neutral-5th-color);
    font-weight: 600;
    height: 42px;
    width: 160px;
}

.adm-products-add-wrap button:hover {
    background-color: var(--primary-3rd-color);
    transition: 300ms;
}

.txt-capitalize {
    text-transform: capitalize;
}

.adm-products-pagination {
    display: flex;
    justify-content: space-between;
    min-height: 48px;
    padding: 0 24px;
    width: 100%;
}

.adm-products-pagination-item {
    align-items: center;
    column-gap: 8px;
    display: flex;
    justify-content: center;
    margin: 16px 0;
}

.adm-products-pagination-item > p {
    margin: 0;
}

.products-per-page-btn {
    background-color: var(--neutral-5th-color);
    border: none;
    border-radius: 100%;
    color: var(--primary-4th-color);
    cursor: pointer;
    height: 48px;
    width: 48px;
}

.products-per-page-btn:hover {
    background-color: var(--primary-4th-color);
    color: var(--neutral-5th-color);
    transition: 300ms;
}

.products-per-page-btn:disabled {
    background-color: var(--neutral-5th-color);
    color: var(--neutral-3rd-color);
    cursor: default;
}

.adm-products-pagination-btn {
    background-color: var(--neutral-4th-color);
    border: none;
    border-radius: 100px;
    color: var(--neutral-2nd-color);
    cursor: pointer;
    height: 48px;
    width: 40px;
}

.adm-products-pagination-btn:hover {
    background-color: var(--primary-4th-color);
    color: var(--neutral-5th-color);
    transition: 400ms;
}

.adm-products-pagination-btn:disabled {
    background-color: var(--primary-4th-color);
    color: var(--neutral-5th-color);
    cursor: default;
}

.adm-products-prev-btn,
.adm-products-next-btn {
    background-color: var(--neutral-4th-color);
    border: none;
    border-radius: 100px;
    cursor: pointer;
    height: 48px;
    width: 88px;
}

.adm-products-prev-btn:hover > img,
.adm-products-next-btn:hover > img {
    transform: translateY(-2px);
    transition: 300ms;
}

.adm-products-prev-btn:disabled,
.adm-products-next-btn:disabled {
    cursor: default;
    opacity: 50%;
}

.adm-products-prev-btn:disabled:hover > img,
.adm-products-next-btn:disabled:hover > img {
    transform: translateY(0);
    transition: none;
}

/* ACTION DROPDOWN MENU */
.adm-products-action-cell {
    position: relative;
}

.adm-products-dropdown-btn {
    background-color: var(--neutral-5th-color);
    border: 1px solid var(--neutral-3rd-color);
    border-radius: 8px;
    color: var(--neutral-1st-color);
    cursor: pointer;
    height: 40px;
    width: 96px;
}

.adm-products-dropdown-btn:hover {
    border-color: var(--primary-4th-color);
    color: var(--primary-4th-color);
    transition: 400ms;
}

.adm-products-dropdown-btn > img {
    transition: 300ms;
}

.adm-products-dropdown-menu {
    align-items: flex-start;
    background-color: var(--neutral-5th-color);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    left: 22.5%;
    list-style: none;
    margin-top: 5px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    transition: 300ms;
    width: 96px;

    box-shadow: var(--b-shadow-root);
    -webkit-box-shadow: var(--b-shadow-root);
    -moz-box-shadow: var(--b-shadow-root);
}

.adm-products-dropdown-menu > li {
    align-items: center;
    color: var(--neutral-2nd-color);
    cursor: pointer;
    display: flex;
    justify-content: flex-start;
    padding: 8px;
    width: 100%;
}

.adm-products-dropdown-menu > li:hover {
    color: var(--primary-4th-color);
    transition: 300ms;
}

.adm-products-dropdown-menu > li > img {
    margin-right: 8px;
}