.homepage-carousel {
  width: 100%;
  padding: 2.4% 0%;
  overflow: hidden;
}

.homepage-carousel-wrapper {
  width: 140%;
  position: relative;
  right: 20%;
}

.homepage-text-category {
  font-size: 20px;
  font-weight: 600;
}

.homepage-diskon {
  background-image: url("./../../../assets/banner-diskon.svg");
  height: 415px;
}
