.cart-left {
  padding-left: 0 !important;
}

.cart-right {
  padding-right: 0 !important;
}

.cart-left-container,
.cart-right-container {
  background-color: #fff;
  border-radius: 12px;
  padding: 15px 20px;
}

.cart-title {
  font-size: 1.25em;
  font-weight: 600;
}

.cart-border {
  border-bottom: 1px solid rgb(199, 198, 198);
}

.cart-list-img {
  width: 80px;
  height: 80px;
  object-fit: cover;
}

.cart-categoryprod {
  font-size: 0.75em;
  color: #979797;
}

.cart-nameprod,
.cart-priceprod {
  font-size: 0.875em;
  font-weight: 500;
}

.cart-qty {
  width: 45%;
  border: 1px solid #cacaca;
  box-sizing: border-box;
  border-radius: 8px;
  overflow: hidden;
}

.cart-btn {
  padding: 3px;
  border: none;
  background-color: #fff;
  cursor: pointer;
}

.cart-inputqty {
  border: none;
  font-size: 0.875em;
  color: #b24629;
  text-align: center;
  cursor: text;
}

.cart-inputqty:enabled {
  outline-color: transparent;
}

.cart-totalprice {
  font-size: 0.875em;
}

.cart-total {
  font-size: 1em;
  font-weight: 600;
}
