:root {
    --primary-1st-color: #0A4D3C;
    --primary-2nd-color: #FCB537;
    --primary-3rd-color: #8D280C;
    --primary-4th-color: #B24629;
    --primary-5th-color: #F1EDE7;

    --neutral-1st-color: #070707;
    --neutral-2nd-color: #5A5A5A;
    --neutral-3rd-color: #CACACA;
    --neutral-4th-color: #F4F4F4;
    --neutral-5th-color: #FFFFFF;

    --semantic-error: #CB3A31;
    --semantic-warning: #EF8943;
    --semantic-success: #43936C;
    --semantic-info: #27A0E3;

    --b-rad-root: 12px;
    --b-shadow-root: 0px 1px 6px #D7D7D8;
}

.adm-nav-main-wrap {
    align-items: center;
    background-color: var(--neutral-5th-color);
    display: flex;
    justify-content: space-between;
    min-height: 72px;
    padding: 8px 24px;
    position: sticky;
    top: 0;
    width: 100%;

    /* box-shadow: 0px 1px 6px #D7D7D8;
    -webkit-box-shadow: 0px 1px 6px #D7D7D8;
    -moz-box-shadow: 0px 1px 6px #D7D7D8;
    clip-path: inset(-5px -5px -5px 0px); */

    box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
    -webkit-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
    -moz-box-shadow: 0px 1px 12px rgba(0, 0, 0, 0.08);
    /* clip-path: inset(-2px -2px -2px 0px); */
}

.adm-nav-main-wrap h6 {
    margin: 0;
}

.adm-nav-right-wrap {
    align-items: center;
    column-gap: 32px;
    display: flex;
    justify-content: center;
}

.adm-nav-main-wrap h6 {
    color: var(--primary-4th-color);
    margin: 0;
}

.adm-nav-logout-btn {
    background-color: var(--neutral-5th-color);
    border: 1px solid var(--primary-4th-color);
    border-radius: 100px;
    color: var(--primary-4th-color);
    cursor: pointer;
    font-weight: 500;
    height: 42px;
    width: 112px;
}

.adm-nav-logout-btn:hover {
    border-color: var(--primary-3rd-color);
    color: var(--primary-3rd-color);
    transition: 400ms;
}