:root {
    --primary-1st-color: #0A4D3C;
    --primary-2nd-color: #FCB537;
    --primary-3rd-color: #8D280C;
    --primary-4th-color: #B24629;
    --primary-5th-color: #F1EDE7;

    --neutral-1st-color: #070707;
    --neutral-2nd-color: #5A5A5A;
    --neutral-3rd-color: #CACACA;
    --neutral-4th-color: #F4F4F4;
    --neutral-5th-color: #FFFFFF;
}

.link-no-decoration {
    color: inherit;
}

.link-no-decoration:hover {
    color: inherit;
    text-decoration: none;
}

.adm-sidebar-main-wrap {
    background-color:  var(--primary-1st-color);
    color: var(--neutral-3rd-color);
    display: flex;
    flex-direction: column;
    height: 100vh;
    min-width: 15%;
    padding: 0 16px 8px;
}

.adm-sidebar-brand-wrap {
    align-items: center;
    display: flex;
    min-height: 72px;
    justify-content: center;
}

.adm-sidebar-list-wrap {
    display: flex;
    flex-direction: column;
}

.adm-sidebar-item-wrap {
    align-items: center;
    display: flex;
    margin-top: 32px;
}

.adm-sidebar-item-wrap:hover {
    color: var(--neutral-4th-color);
    transition: 400ms;
}

.test-add {
    color: var(--neutral-5th-color);
}

.adm-sidebar-item-wrap > h5 {
    margin: 0;
    text-align: start;
    
}

.adm-sidebar-icon {
    margin-right: 16px;
}