.card-product-wrapper {
  width: 268px;
  height: 321px;
  background-color: #fff;
  padding: 0 0 16px;
  border-radius: 12px;
  overflow: hidden;
  box-shadow: 0 1px 6px 0 rgba(141, 40, 12, 0.56);
}

.card-product-img {
  width: 100%;
  height: 151px;
  object-fit: cover;
}

.card-product-category {
  font-size: 0.75em;
  font-weight: 500;
  color: #0a4d3c;
}

.card-product-name {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.63;
  color: #5a5a5a;
}

.card-product-diskon {
  font-size: 0.625em;
  color: #cacaca;
}

.card-product-price {
  font-size: 1em;
  font-weight: 600;
  line-height: 1.63;
  color: #070707;
}
