/* .slick-initialized {
  overflow: hidden;
}

.slick-slide {
  margin-right: -16px;
} */
/* 
.slick-slide {
  width: auto !important;
  margin-right: 16px;
}

.slick-track {
} */

/* .slick-slide {
  width: auto !important;
  margin: 0 8px !important;
} */

.slider-arrow {
  position: absolute;
  width: 100%;
  z-index: 999;
  top: 155%;
  padding: 0 1%;
}

.arrow-btn {
  border: none;
  background-color: #f4f4f4;
  padding: 8px 8px;
  border-radius: 100px;
  box-shadow: 0 1px 7px 0 black;
}
.next {
  float: right;
}

.prev-gone {
  animation: fade 0.3s ease forwards;
}

.carousel-tes {
  padding-left: 63px;
}

.next-gone {
  animation: fade 0.3s ease forwards;
}

@keyframes fade {
  from {
    opacity: 1;
  }
  to {
    opacity: 0;
    pointer-events: none;
  }
}
