.header-bar {
  box-shadow: 0 1px 12px 0 rgba(0, 0, 0, 0.08);
  background-color: #fff;
}

.header-right {
  margin-right: 32px;
}

.header-masuk {
  background-color: transparent;
  border: none;
  font-size: 14px;
  font-weight: 600;
  color: #b24629;
}

.header-btn-daftar {
  border: none;
  background-color: transparent;
  font-size: 14px;
  font-weight: 600;
  color: #b24629;
  width: 93.6px;
  height: 22px;
}

.header-daftar-rectangle {
  border: 1px solid #b24629;
  border-radius: 100px;
  padding: 10px 11.7px;
  width: 117px;
  height: 42px;
}
